.header-main {
    background-image: url('https://assets-global.website-files.com/5d9bc5d562ffc2869b470941/5ed1a235add5df124b882e05_blog-hero--optim.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.header-main > h1 {
    color: white;
    text-align: center;
    align-items: center;
    position: relative;
    top: 30%;
}